name: git-action-test

on: 
  push:
    branches: [main]
      # - main
  pull_request:
    branches: 
      - main

# jobs:
#   print-hello:
#   runs-on: ubuntu-latest
#   steps:
#     - run: echo "Welcome from Git Actions!!"

jobs:
  print_hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Starting GitHub Actions Job"
      - name: Printing hello word
        run: echo "Welcome from Git Actions!!"
      - uses: cinotify/github-action@main
        with:
          to: 'scm.nayhlaingwin@gmail.com'
          subject: 'Notify'
          body: [This user is commited.](${{ github.server_url }}/${{ github.actor }}).
  git-url:
    runs-on: 
    steps:
      - name: git url
        run: echo [This user is commited.](${{ github.server_url }}/${{ github.actor }})