name: git-action-test

on: 
  push:
    branches: [main]
      # - main

# jobs:
#   print-hello:
#   runs-on: ubuntu-latest
#   steps:
#     - name: Printing hello word
#     - run: echo "Welcome from Git Actions!!"
jobs:
  print_hello:
    runs-on: ubuntu-latest
    steps:
      - name: Printing hello word
      - run: echo "Welcome from Git Actions!!"